.main {
  background: rgb(7, 7, 21);
  color: rgb(216, 216, 198);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; /* Center the entire container horizontally */
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* margin-bottom: 2rem; */
}

.main-container {
  display: flex;
  height: 100vh;
  overflow: auto;
  width: 100%;
  margin: auto;
  /* margin-bottom: 20rem !important; */
}

.menuContainer {
  width: 15%;
  padding: 5px 20px;
  border-right: 2px solid rgba(184, 184, 184, 0.106);
  /* Fixed menu */
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  height: 100vh;
  overflow-y: auto;
  background: rgb(7, 7, 21);
  margin-bottom: 10vh !important;
}

.contentContainer {
  padding: 5px 20px;

  margin-left: 14%; /* Offset to avoid the menu */

  width: 85%;
  height: 100vh;
  /* margin-left: 10% !important; */

  overflow-y: auto;
  /* background: white; */
  /* margin: auto; */
  margin-bottom: 10vh !important;
}
.approval-message{
  margin: auto;
  text-align: center;
  margin-top: 20px;
  color: #64ffda;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(221, 218, 218, 0.445);
  width:50%;
  padding: 1rem;
  border-radius: 10px
}
body {
  background: rgb(7, 7, 21);
}
